<div class="container mt-4">
  <button class="btn-home" onclick="location.href='/portfolio';"><i class="fa-solid fa-house fa-2x1"></i></button>
    <div class="alert alert-info text-center animated pulse" role="alert" ng-animate="'animate'">
      <h1 class="alert-heading">Certificado en trámite o curso en proceso</h1>
      <p>Aun me encuentro realizando el curso en cuestion o estoy trabajando en la obtención del certificado. En cuanto lo tenga disponible, lo publicaré aquí.</p>
    </div>
  </div>
  