<footer id="contacto">
    <div class="container">
      <div *ngIf="loading" class="overlay">
        <div class="spinner">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <h1>Contacto</h1>
      <div class="social-links">
        <a href="https://biolink.website/EstebanBelmonte" target="_blank"><i class="fa-solid fa-address-book"></i></a>
        <a href="https://linkedin.com/in/esteban-daniel-belmonte-52a26a162" target="_blank"><i class="fab fa-linkedin"></i></a>
         <a href="https://github.com/Esteban-Belmonte" target="_blank"><i class="fab fa-github"></i></a>
      </div>
      <h4>
        Si tienes algún proyecto y te gustaría que forme parte del mismo, te invito a contactarme con el siguiente formulario, también puedes usarlo simplemente para dejarme algún comentario o decir "¡hola!".</h4>
        <div *ngIf="displayForm">  
        <div class="form-group">
          <label for="email">E-Mail:</label>
          <input [(ngModel)]="footer.email" type="email" class="form-control white-text" id="email" name="email" placeholder="ejemplo: Jhondoe@gmail.com">
        </div>
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input [(ngModel)]="footer.nombre" type="text" class="form-control white-text"  id="name" name="name" placeholder="ejemplo: Jhon Doe">
        </div>
        <div class="form-group">
          <label for="subject">Mensaje:</label>
          <textarea [(ngModel)]="footer.asunto" class="form-control white-text"  id="subject" name="subject" maxlength="2000" placeholder="¡Dejame tu mensaje!"></textarea>
        </div>
        <button type="submit" (click)="createFooter()">Enviar</button>
    </div>
    <div class="col-12" *ngIf="autenticaticionService.isLoggedIn()">
        <h3>Formularios Enviados:</h3>
           <div class="col-12 border d-flex align-items-center justify-content-center" *ngFor="let footer of footers">
              <h3>{{footer.email}}</h3>
              <h3>{{footer.nombre}}</h3>
              <h3>{{footer.asunto}}</h3>
              <div>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteFooter(footer)"><i class="fa-solid fa-trash"></i></button>
              </div>
           </div>
    </div>
    <p class="copywright">&copy; 2023 - Todos los derechos reservados</p>
  </div>
  </footer>
  