<div class="container-text-center">
    <div class="row row-cols-3">
        <div class="col-2">
            <h2>Educacion</h2>
        </div>
        <div class="col-9"></div>
        <div class="col-1">
            <!--button><i class="fa-solid fa-pen"></i></button-->
        </div>
        <div class="col">
            <h5><i class="fa-solid fa-school"></i> Colegio presentacion de Maria</h5>
        </div>
        <div class="col-7"></div>
        <div class="col-1">
            <!--button><i class="fa-solid fa-pen"></i></button-->
        </div>
        <div class="col-12">
            <p class="texto-a-derecha">Informacion CPM</p>
        </div>
        <div class="col-2">
            <h5><i class="fa-solid fa-code"></i> Mumuki</h5>
        </div>
        <div class="col-9"></div>
        <div class="col-1">
            <!--Button><i class="fa-solid fa-pen"></i></Button-->
        </div>
        <div class="col-12">
            <p class="texto-a-derecha">Primera etapa de Argentina programa: #SeProgramar</p>
        </div>
    </div>
</div>