<header>
    <div class="row align-items-center" id="encabezado">
        <div class="col-2">
            <img class="logo" src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1660276176/APLogo-20-20.png"  alt="logo argentina programa">
        </div>
        <div class="col"></div>
        <div class="col-2">
            <button class="boton_login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Log In</button>
        </div>    
    </div>   
<div class="row">
    <div class="col-12">
        <img [src]="persona.urlImagenBanner" alt="Banner" class="banner_img">
    <div class="col-11">
        <img [src]="persona.urlImagenPerfil" class="perfil" alt="foto de perfil"><!--button class="boton_edicion"><i class="fa-solid fa-pen"></i></button-->
    </div>
    <div class="col-1">
        <button (click)="displayUpdateForm = !displayUpdateForm"><i class="fa-solid fa-pen"></i></button>
    </div>
        <div class="col">
        <h2>{{persona.nombre}}</h2>
        <h5>{{persona.ocupacion}}</h5>
        <h5>{{persona.ubicacion}}</h5>
        <h5>{{persona.telefono}}</h5>
        <h5>{{persona.email}}</h5>
        <p><a [href]="persona.urlGit" class="enlaces">GitHub</a></p>
        <p><a [href]="persona.urlCv" class="enlaces">CV</a></p>
    </div>
    </div>
    <div class="col-12" *ngIf="displayUpdateForm">
        <input [(ngModel)]="persona.nombre" type="text" placeholder={{persona.nombre}}>
        <input [(ngModel)]="persona.ocupacion" type="text" placeholder={{persona.ocupacion}}>
        <input [(ngModel)]="persona.ubicacion" type="text" placeholder={{persona.ubicacion}}>
        <input [(ngModel)]="persona.telefono" type="text" placeholder={{persona.telefono}}>
        <input [(ngModel)]="persona.email" type="text" placeholder={{persona.email}}>
        <input [(ngModel)]="persona.urlImagenPerfil" type="text" placeholder="url de la imagen de perfil">
        <input [(ngModel)]="persona.urlImagenBanner" type="text" placeholder="url de la imagen del banner">
        <input [(ngModel)]="persona.urlGit" type="text" placeholder="url a GitHub">
        <input [(ngModel)]="persona.urlCv" type="text" placeholder="url a CV">
        <button type="button" class="btn btn-success btn-sm" (click)="cargar(persona)">Editar</button>
      </div>
</div>
</header>