<header>
    <div class="row align-items-center" id="encabezado">
        <div class="col-2">
            <img class="logo" src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1660276176/APLogo-20-20.png"  alt="logo argentina programa">
        </div>
        <div class="col"></div>
        <div class="col-2">
            <a href="" class="enlaces"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="" class="enlaces"><i class="fa-solid fa-envelope"></i></a> 
            <button class="boton_login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Log In</button>
        </div>    
    </div>   
<div class="row">
    <div class="col-12">
        <img src="https://media.discordapp.net/attachments/877763749971386368/1016495163884978267/unknown.png" alt="Banner" class="banner_img">
    <div class="col">
        <img [src]="miPortfolio.image_perfil" class="perfil" alt="foto de perfil"><!--button class="boton_edicion"><i class="fa-solid fa-pen"></i></button-->
    </div>
        <div class="col">
        <h2>{{miPortfolio.nombres}}</h2>
        <h5>{{miPortfolio.ocupacion}}</h5>
        <h5>Tucuman (Argentina)</h5><p><a href="" class="enlaces">Informacion de contacto</a></p>
    </div>
    </div>
</div>
</header>